.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;

  .image-container {
    position: relative;

    .food-item-img {
      width: 100%;
      border-radius: 15px 15px 0 0;
    }

    .create-btn-icon-wrapper {
      position: absolute;
      bottom: 15px;
      right: 15px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .food-item-counter {
      position: absolute;
      bottom: 15px;
      right: 15px;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 6px;
      background-color: white;
      border-radius: 50px;

      .counter-btn-icon-wrapper {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .remove-wrapper {
        background-color: #ffc1073b;
      }

      .add-wrapper {
        background-color: rgba(0, 128, 0, 0.27);
      }
    }
  }

  .food-item-info {
    padding: 20px;

    .food-item-name-rating {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: start;
      margin-bottom: 10px;

      p {
        font-size: 20px;
        font-weight: 500;
      }

      img {
        width: 70px;
      }
    }

    .food-item-desc {
      color: #676767;
      font-size: 12px;
    }

    .food-item-price {
      color: #ffc107;
      font-size: 22px;
      font-weight: 500;
      margin: 10px 0;
    }
  }
}
