@import "../../App.scss";

.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 150px;

    @include tablet {
      width: 140px;
    }

    @include bigMobile {
      width: 120px;
    }
  }

  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;

    @include tablet {
      font-size: 17px;
    }

    @include bigMobile {
      gap: 15px;
      font-size: 16px;
    }

    @include mobile {
      display: none;
    }

    .active {
      padding-bottom: 2px;
      border-bottom: 2px solid #49557e;
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;

    @include tablet {
      gap: 30px;
    }

    @include bigMobile {
      gap: 20px;
    }

    .search-icon {
      width: 30px;
      height: 30px;

      @include tablet {
        width: 24px;
        height: 24px;
      }

      @include bigMobile {
        width: 20px;
        height: 20px;
      }
    }

    .navbar-basket-icon {
      display: flex;
      align-items: center;
      position: relative;

      .basket-icon {
        width: 34px;
        height: 34px;

        @include tablet {
          width: 28px;
          height: 28px;
        }

        @include bigMobile {
          width: 24px;
          height: 24px;
        }
      }

      .dot {
        position: absolute;
        min-width: 10px;
        min-height: 10px;
        background-color: tomato;
        border-radius: 5px;
        top: 0px;
        right: 0px;
      }
    }

    button {
      background-color: transparent;
      font-size: 16px;
      color: #49557e;
      border: 1px solid tomato;
      padding: 10px 30px;
      border-radius: 50px;
      cursor: pointer;
      transition: 0.3s;

      @include tablet {
        padding: 8px 25px;
      }

      @include bigMobile {
        padding: 7px 20px;
        font-size: 15px;
      }
    }

    button:hover {
      background-color: #fff4f2;
    }
  }
}
